# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Environment variables
.env
.env.local

# Editor & IDE Directories
.vscode/
.idea/
*.swp
*.swo

# Temporary & Log files
*.log
.temp/
dist/
build/
